.login-popup {
    position: absolute;
    top: 8rem;
    right: 3rem;
    background-color: rgb(183, 160, 226);
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 10px rgb(255, 223, 119);
}

.login-popup > h1 {
    margin-bottom: 2rem;
}

.login-popup > p {
    margin-top: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.login-popup > p:hover {
    color: rgb(238, 228, 255);
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.login-form input,
.register-form input {
    border: none;
    padding: 0.6rem;
    background-color: rgb(238, 228, 255);
}

.login-form input:focus,
.register-form input:focus {
    outline: none;
}

.login-form button,
.register-form button {
    padding: 0.3rem 0.8rem;
    margin-top: 0.4rem;
    border: none;
    background-color: rgb(238, 228, 255);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: solid 5px rgb(255, 223, 119);
}

.login-form button:hover,
.register-form button:hover {
    background-color: rgb(183, 160, 226);
}

.validation-error {
    font-size: 1rem;
    color: rgb(134, 15, 15);
}

@media (max-width: 811px) {
    .login-popup {
        top: 14rem;
        right: 4rem;
        background-color: rgb(183, 160, 226);
        height: 320px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: solid 10px rgb(255, 223, 119);
    }
  }